*, *:before, *:after {
    box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial,Helvetica Neue,sans-serif;
  line-height: 1.3;
}
ul, li {
  list-style: none;
}
